@model IEnumerable<Excursion.Models.User>
@{
    ViewBag.Title = "Список адміністраторів";
}

<a asp-action="Create">Додати (супер)адміністратора</a>

<table class="table">
    <tr><th>Email</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn-delete-admin">
                        Видалити
                    </button>
                </form>
            <td>
                <a class="btn-delete-admin" asp-action="Edit" asp-route-id="@user.Id">Змінити</a>
            </td>

            </td>
            <td>
                <a class="btn-delete-admin" asp-action="Edit" asp-controller="Roles" asp-route-userid="@user.Id">Права доступу</a>
            </td>
        </tr>
    }
</table>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}