
@{
    ViewData["Title"] = "Home page";
}

<div class="wrap">


    <div class="content">
        <div class="text-content">
            <h1 id="content-title-text">СПЛАВ ПО<br> ЧУДОВІЙ РІЧЦІ<br> ДНІСТЕР</h1>
            @if (!User.Identity.IsAuthenticated)
            {
                <a id="jak" asp-action="Index" asp-controller="Map"> <p id="btn-modal">ЗАПИСАТИСЯ НА СПЛАВ</p></a>
            }
        </div>
    </div>
    <div class="content-see">
        <h2 id="title-content-see">Що нас чекає?</h2>
        <div class="block1">
            <div class="text">
                <p id="description">
                    В експедиції Ви перевірите і реалізуєте свої можливості та знайдете друзів на все життя! Це прекрасна можливість розвинути лідерські якості на посадах капітана катамарану і хорунжого експедиції. В поході реально можна навчитися уникати конфліктних ситуацій при роботі в команді, вдосконалити комунікативні якості .
                    Експедиція “Дністер” - це чудове поєднання здорового відпочинку серед мальовничої природи і суспільно-корисної праці.
                    За 30 років роботи в експедиції побувало близько 700 людей з багатьох країн Центрально-Східної Європи та Північної Америки. Кожен, хто хоч раз побуває на Дністрі, буде мріяти повернутися сюди ціле життя. Ми маємо учасників котрі брали участі експедиції 10-20 разів! І це не дивно!

                </p>
            </div>
            <div class="photo">
                <img id="ph-block-nature" src="images/card-nature.jpg" alt="photo nature">
            </div>
        </div>
        <div class="block2">
            <div class="photo">
                <img id="ph-block-nature" src="images/card-company.jpg" alt="photo nature">
            </div>
            <div class="text">
                <p id="description-left">
                    Дністер - це найпрекрасніша річка на теренах СНД. Урвисті береги Дністра покриті лісами, в яких ніколи не дзвеніла сокира людини. Зі схилів течуть чисті потоки цілющої джерельної води. Неймовірна тиша. В долинах розташовані мальовничі села. Фортеці, палаци, печери, цвинтарі - це дзеркало багатої подіями історії Центрально-Східної Європи. З високих берегів Дністра видно цілу панораму мальовничого Поділля.
                    Експедиція “Дністер” працює незалежно від урядів і міжнародних фондів за рахунок внесків учасників і можливих пожертв приватних осіб. ІІ тільки..
                    В програмі роботи - екологічні і культурологічні дослідження.
                    Жодних обмежень! Кожен з учасників може вибрати або запропонувати будь-який напрямок досліджень. Повна свобода вибору!
                </p>
            </div>
        </div>
        <div class="block1">
            <div class="text">
                <p id="description">
                    Робочі мови - українська, англійська, польська, німецька. Один день перебування в експедиції для учасників коштує 100 гривнів (гроші йдуть на харчування та оплату ремонту та доставки експедиційного реманенту і плавзасобів на Дністер і назад).
                    Сервіс - самообслуговування. Учасники самі собі готують їжу по черзі під керівництвом досвідченого шеф-кухаря.
                    Організація відпочинку: дві-три дні плавання на катамаранах байдарках, один-два наступних - стоянка на березі поблизу сіл. На стоянках - пішохідні походи на дослідження і прогулянки в села, до історичних, природних і культурних пам’яток.
                    Вечорами - колективні ігри, пісні, танці біля романтичного вогнища.
                    Сон у наметах в тиші дністровських ночей.
                    Вимоги для учасників, обумовлені специфікою польових досліджень:
                    - християнська етика;
                    - відсутність фізичних дефектів;
                    - вік від 16 до пенсійного;
                    - вживання алкоголю тільки з дозволу капітана!

                </p>
            </div>
            <div class="photo">
                <img id="ph-block-nature" src="images/Beautiful_Ukraine._The_river_Dniester..jpg" alt="photo nature">
            </div>
        </div>

        <h2 id="title-content-see">Краєвиди, які ви будете спостерігати протягом спливу: </h2>
        <div class="sliders">
            <div class="fotorama">
                <img src="images/Dniester-River-Moldova.jpg">
                <img src="images/img-river-dnister.jpg">
                <img src="images/dniester_canyon__ukraine_by_sergey_ryzhkov_dabk2xv-pre.jpg">
                <img src="images/sliders1.jpg">
                <img src="images/Dniester_River_in_Halych.jpg">
            </div>
        </div>

    </div>
    <div class="card-back">
        <div class="card-nature">
            <div class="card-wrap">
                <div class="card">
                    <img id="img-card" src="images/sliders4.jpg" alt="photo nature">
                    <h2 id="title-content-see">Емоції</h2>
                    <p id="title-content-see">
                        Ви отримаєте неперевершені емоції,
                        від спливу, познайомитися з новими людьми і прекрасно проведете час.
                    </p>
                </div>
            </div>
            <div class="card-wrap">
                <div class="card">
                    <img id="img-card" src="images/ph-zalishcuku.jpg" alt="photo nature">
                    <h2 id="title-content-see">Краса навколо!</h2>
                    <p id="title-content-see">
                        Протягом всього спливу Ви будете бачити неперевершені краєвиди та
                        любуватися красою природи.
                    </p>
                </div>
            </div>
            <div class="card-wrap">
                <div class="card">
                    <img id="img-card" src="images/card-company.jpg" alt="photo nature">
                    <h2 id="title-content-see">Веселий колектив</h2>
                    <p id="title-content-see">Ви познайомитися з веселеми людьми, які люблять активно відпочивати та обов'язково знайдете з ними спільну мову.</p>
                </div>
            </div>
        </div>
    </div>
    <span id="contents"></span>
    @if (!User.Identity.IsAuthenticated)
    {
        <a id="map-s" asp-action="Index" asp-controller="Map"><button id="btn-id-foot">ЗАПИСАТИСЯ НА СПЛАВ</button></a>
    }
</div>