
@{
    ViewData["Title"] = "Home page";
}

<div class="wrap">


    <div class="content">
        <div class="text-content">
            <h1 id="content-title-text">МІЖНАРОДНІ<br> ПРОЄКТИ В ЛНУ</h1>
            @if (!User.Identity.IsAuthenticated)
            {
                <a id="jak" asp-action="Index" asp-controller="Map"> <p id="btn-modal">ДІЗНАТИСЬ БІЛЬШЕ</p></a>
            }
        </div>
    </div>
    <div class="content-see">
        <h2 id="title-content-see">Summary</h2>
        <div class="block1">
            <div class="text">
                <p id="description">
                    IFNUL has different exchange agreements with many higher education institutions in European and participate in several European exchange programmes such as Erasmus+ and Horizon 2020 funded by European Union.

                    For further information please choose information on the top of the page.
                </p>
            </div>
            <div class="photo">
                <img id="ph-block-nature" src="images/logo.jpg" alt="logo" style="height: 150px; width: 150px">
            </div>
        </div>


        <h2 id="title-content-see">Universities that take part in programs </h2>
        <div class="sliders">
            <div class="fotorama">
                <img src="images/erasmus-experience-bucharest-romania.jpg">
                <img src="images/erasmus-experience-kassel-germany.jpg">
                <img src="images/experience-nicolaus-copernicus-university-poland.jpg">
            </div>
        </div>

    </div>
    <div class="card-back">
        <div class="card-nature">
            <div class="card-wrap">
                <div class="card">
                    <img id="img-card" src="images/erasmus-experience-bucharest-romania.jpg" alt="photo nature">
                    <h2 id="title-content-see">Bucharest University</h2>
                    <p id="title-content-see">
                        Romania
                    </p>
                </div>
            </div>
            <div class="card-wrap">
                <div class="card">
                    <img id="img-card" src="images/erasmus-experience-kassel-germany.jpg" alt="photo nature">
                    <h2 id="title-content-see">Kassel University</h2>
                    <p id="title-content-see">
                        Germany
                    </p>
                </div>
            </div>
            <div class="card-wrap">
                <div class="card">
                    <img id="img-card" src="images/experience-nicolaus-copernicus-university-poland.jpg" alt="photo">
                    <h2 id="title-content-see">Nicolaus Copernicus University</h2>
                    <p id="title-content-see">Poland</p>
                </div>
            </div>
        </div>
    </div>
    <span id="contents"></span>
    @if (!User.Identity.IsAuthenticated)
    {
        <a id="map-s" asp-action="Index" asp-controller="Map"><button id="btn-id-foot">ДІЗНАТИСЬ БІЛЬШЕ</button></a>
    }
</div>