<div class="wrap">


    <span id="contents"></span>
    @if (!User.Identity.IsAuthenticated)
    {
        <a id="map-s" asp-action="Index" asp-controller="Map"><button id="btn-id-foot">ЗАПИСАТИСЯ НА СПЛАВ</button></a>
    }
    <div class="block-contact">
        <div class="photo-contact">
            <img id="img-phone" src="images/phone-removebg-preview.png" alt="photo phone">
        </div>
        <div class="contact-block">
            <p>Email:  splyv@gmail.com</p>
            <p>Мобільний телефон: <a href="tel:+38099999999">+38099999999</a></a></p>

        </div>
    </div>

</div>