h2{

}
.div-create{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
.div-create input{
    width: 200px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(36, 190, 36);
    border-radius: 10px;
    outline: none;
    margin-left:5px;
}

.form-group{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    background: darkred;
    color: white;
    border: none;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition:.4s;
}
.btn:hover{
    background:red;
    transition: .4s;
}
.close{
    border: none;
    padding: 5px;
    background-color: gray;
    font-size: 20px;
    color: tomato;
    cursor: pointer;
}
.close:hover{
    color: red;
}