

<div class="wrap">



    <span id="contents"></span>
    @if (!User.Identity.IsAuthenticated)
    {
        <a id="map-s" asp-action="Index" asp-controller="Map"><button id="btn-id-foot">ДІЗНАТИСЬ БІЛЬШЕ</button></a>
    }
    <section class="gallery-section" id="gallerys">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>Галерея</h1>
                </div>
            </div>
            <div class="row">
                <div class="gallery-item " onclick="openModal();currentSlide(1)">
                    <div class="gallery-item-inner">
                        <img src="images/students_erasmus_1.jpg" alt="service">
                        <div class="overlay">
                            <h4>Учасники програм</h4>
                        </div>
                    </div>
                </div>

                <div class="gallery-item">
                    <div class="gallery-item-inner" onclick="openModal();currentSlide(3)">
                        <img src="images/erasmus_4.png" alt="service">
                        <div class="overlay">
                            <h4>Зустріч з переможцями Erasmus+</h4>
                        </div>
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-item-inner" onclick="openModal();currentSlide(4)">
                        <img src="images/erasmus_3.png" alt="service">
                        <div class="overlay">
                            <h4>Зустріч з представниками Еразмус-офісу"</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">

            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="images/students_erasmus_1.jpg" style="width:100%">
            </div>


            <div class="mySlides">
                <div class="numbertext">3 / 4</div>
                <img src="images/erasmus_4.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="images/erasmus_3.png" style="width:100%">
            </div>


            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <div class="allimg">
                <div class="column">
                    <img class="demo cursor" src="images/students_erasmus_1.jpg" style="width:100%" onclick="currentSlide(1)"
                         alt="Учасники програм">
                </div>

                <div class="column">
                    <img class="demo cursor" src="images/erasmus_4.png" style="width:100%" onclick="currentSlide(3)"
                         alt="Зустріч з переможцями Erasmus+">
                </div>
                <div class="column">
                    <img class="demo cursor" src="images/erasmus_3.png" style="width:100%" onclick="currentSlide(4)"
                         alt="Зустріч з представниками Еразмус-офісу">
                </div>
            </div>
        </div>
    </div>

</div>